body{
    background-color: rgb(247, 232, 213);
}
h1{
    background-color: aquamarine;
    color: rgb(241, 101, 101);
}
p{
    color:darkred;
}
.bg-aque-65{
    background-color: rgb(99, 235, 223);
}
.bg-azure{
    background-color: azure;
}
.bg-lightgreen-83{
    background-color: rgb(180, 243, 180);
}
