body{
    background-color: rgb(176, 245, 228);
}
h1{
    background-color: rgb(255, 255, 63);
    color: darkgreen;
}
h2{
    background-color: rgb(245, 245, 139);
    color: rgb(253, 152, 0);
}
p{
    color: rgb(94, 69, 7);
}
.bg-greenyellow-63{
    background-color: rgb(180, 255, 67);
}
.bg-greenyellow-74{
    background-color: rgb(201, 255, 120);
}
.bg-greenyellow-93{
    background-color: rgb(241, 255, 220);
}
.bg-greenyellow-80{
    background-color: hwb(84 60% 0%);
}
.bg-blanchedalmond{
    background-color: blanchedalmond;
}
.bg-yellow-94{
    background-color: rgb(255, 255, 224);
}