body{
    background-color: rgb(241, 214, 255);
}
h1{
    background-color: rgb(109, 245, 255);
    color: rgb(240, 104, 55);
}
p{
    color:darkblue;
}
.bg-cyan-86{
    background-color: rgb(182, 255, 255);
}
.bg-cyan-77{
    background-color: rgb(146, 247, 247);
}
.bg-dodgerblue-75{
    background-color: rgb(127, 191, 255);
}
.bg-lightskyblue-83{
    background-color: rgb(168, 222, 255);
}