body{
    background-color: rgb(255, 209, 216);
}
h1{
    background-color: crimson;
    color: white;
}
p{
    color: rgb(9, 71, 9);
}
.bg-pink-73{
    background-color: rgb(248, 130, 212);
}
.bg-deeppink-72{
    background-color: rgb(248, 119, 188);
}
.bg-deeppink-78{
    background-color: rgb(247, 153, 203);
}
.bg-deeppink-85{
    background-color: rgb(255, 179, 221);
}