body{
    background-color: rgb(210, 254, 255);
}
h1{
    background-color: pink;
    color: blue;
}
p{
    color: rgb(68, 19, 146);
}
.bg-saad{
    background-image: url(../img/saad.jpg);
}
.text-white{
    color: white;
}
.bg-plum{
    background-color: plum;
}
.bg-roseblue{
    background-color: rgb(155, 174, 233);
}
.bg-lightseagreen{
    background-color: lightseagreen;
}
.bg-lightyellow{
    background-color: lightyellow;
}
.bg-lightgreen{
    background-color: lightgreen;
}
.bg-pink{
    background-color: pink;
}